In [1]:
import pandas as pd

In [2]:
#failed_banks = pd.read_clipboard(sep=',')
# source: https://www.fdic.gov/bank/individual/failed/banklist.csv 
# date 08/25/2019
failed_banks = pd.read_csv('data/failed_banks_dataset.csv')

In [10]:
failed_banks.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19,22-Aug-19
1,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,24-Jul-19
2,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,12-Aug-19
3,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,29-Jan-19
4,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,22-Mar-18

In [6]:
len(failed_banks)

556

In [7]:
failed_banks.describe()

               CERT
count    556.000000
mean   31664.573741
std    16411.153042
min       91.000000
25%    20268.250000
50%    32176.000000
75%    35360.000000
max    58701.000000

In [19]:
failed_banks.to_csv('data/failed_banks_dataset.csv', index=False)