In [2]:
import pandas as pd

In [3]:
#failed_banks = pd.read_clipboard(sep=',')
# source: https://www.fdic.gov/bank/individual/failed/banklist.csv 
# date 08/25/2019
failed_banks = pd.read_csv('data/failed_banks_dataset.csv')

In [4]:
failed_banks.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19,22-Aug-19
1,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,24-Jul-19
2,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,12-Aug-19
3,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,29-Jan-19
4,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,22-Mar-18

In [5]:
len(failed_banks)

556

In [6]:
failed_banks.to_csv('data/failed_banks_dataset.csv', index=False)

In [7]:
failed_banks

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19,22-Aug-19
1,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,24-Jul-19
2,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,12-Aug-19
3,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,29-Jan-19
4,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,22-Mar-18
5,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,29-Jan-19
6,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,29-Jan-19
7,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,29-Jan-19
8,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,13-Jan-17,18-May-17
9,Allied Bank,Mulberry,AR,91,Today's Bank,23-Sep-16,13-May-19
10,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,19-Aug-16,13-Dec-18
11,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,6-May-16,13-Nov-18
12,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,29-Apr-16,14-Sep-18
13,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,11-Mar-16,29-Jan-19
14,Hometown National Bank,Longview,WA,35156,Twin City Bank,2-Oct-15,19-Feb-18
15,The Bank of Georgia,Peachtree City,GA,35259,Fidelity Bank,2-Oct-15,9-Jul-18
16,Premier Bank,Denver,CO,34112,"United Fidelity Bank, fsb",10-Jul-15,20-Feb-18
17,Edgebrook Bank,Chicago,IL,57772,Republic Bank of Chicago,8-May-15,29-Jan-19
18,Doral Bank,San Juan,PR,32102,Banco Popular de Puerto Rico,27-Feb-15,29-Jan-19
19,Capitol City Bank & Trust Company,Atlanta,GA,33938,First-Citizens Bank & Trust Company,13-Feb-15,29-Jan-19
20,Highland Community Bank,Chicago,IL,20290,"United Fidelity Bank, fsb",23-Jan-15,15-Nov-17
21,First National Bank of Crestview,Crestview,FL,17557,First NBC Bank,16-Jan-15,15-Nov-17
22,Northern Star Bank,Mankato,MN,34983,BankVista,19-Dec-14,3-Jan-18
23,"Frontier Bank, FSB D/B/A El Paseo Bank",Palm Desert,CA,34738,"Bank of Southern California, N.A.",7-Nov-14,10-Nov-16
24,The National Republic Bank of Chicago,Chicago,IL,916,State Bank of Texas,24-Oct-14,6-Jan-16
25,NBRS Financial,Rising Sun,MD,4862,Howard Bank,17-Oct-14,29-Jan-19
26,"GreenChoice Bank, fsb",Chicago,IL,28462,"Providence Bank, LLC",25-Jul-14,12-Dec-16
27,Eastside Commercial Bank,Conyers,GA,58125,Community & Southern Bank,18-Jul-14,6-Oct-17
28,The Freedom State Bank,Freedom,OK,12483,Alva State Bank & Trust Company,27-Jun-14,21-Feb-18
29,Valley Bank,Fort Lauderdale,FL,21793,"Landmark Bank, National Association",20-Jun-14,29-Jan-19
...,...,...,...,...,...,...,...
526,"ANB Financial, NA",Bentonville,AR,33901,Pulaski Bank and Trust Company,9-May-08,1-Feb-19
527,Hume Bank,Hume,MO,1971,Security Bank,7-Mar-08,31-Jan-19
528,Douglass National Bank,Kansas City,MO,24660,Liberty Bank and Trust Company,25-Jan-08,26-Oct-12
529,Miami Valley Bank,Lakeview,OH,16848,The Citizens Banking Company,4-Oct-07,12-Sep-16
530,NetBank,Alpharetta,GA,32575,ING DIRECT,28-Sep-07,31-Jan-19
531,Metropolitan Savings Bank,Pittsburgh,PA,35353,Allegheny Valley Bank of Pittsburgh,2-Feb-07,27-Oct-10
532,Bank of Ephraim,Ephraim,UT,1249,Far West Bank,25-Jun-04,9-Apr-08
533,Reliance Bank,White Plains,NY,26778,Union State Bank,19-Mar-04,9-Apr-08
534,Guaranty National Bank of Tallahassee,Tallahassee,FL,26838,Hancock Bank of Florida,12-Mar-04,17-Apr-18
535,Dollar Savings Bank,Newark,NJ,31330,No Acquirer,14-Feb-04,9-Apr-08
536,Pulaski Savings Bank,Philadelphia,PA,27203,Earthstar Bank,14-Nov-03,6-Oct-17
537,First National Bank of Blanchardville,Blanchardville,WI,11639,The Park Bank,9-May-03,5-Jun-12
538,Southern Pacific Bank,Torrance,CA,27094,Beal Bank,7-Feb-03,20-Oct-08
539,Farmers Bank of Cheneyville,Cheneyville,LA,16445,Sabine State Bank & Trust,17-Dec-02,20-Oct-04
540,Bank of Alamo,Alamo,TN,9961,No Acquirer,8-Nov-02,18-Mar-05
541,AmTrade International Bank,Atlanta,GA,33784,No Acquirer,30-Sep-02,11-Sep-06
542,Universal Federal Savings Bank,Chicago,IL,29355,Chicago Community Bank,27-Jun-02,6-Oct-17
543,Connecticut Bank of Commerce,Stamford,CT,19183,Hudson United Bank,26-Jun-02,14-Feb-12
544,New Century Bank,Shelby Township,MI,34979,No Acquirer,28-Mar-02,18-Mar-05
545,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,1-Mar-02,9-Apr-08
546,"NextBank, NA",Phoenix,AZ,22314,No Acquirer,7-Feb-02,5-Feb-15
547,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02,25-Oct-12
548,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02,6-Nov-03
549,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02,21-Sep-15
550,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01,6-Oct-17
551,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,19-Aug-14
552,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,18-Nov-02
553,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,18-Feb-03
554,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,17-Mar-05
555,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,17-Mar-05