In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from ffipy import FFIEC_Client
from io import StringIO
import time

In [2]:
client = FFIEC_Client()
# get a list of RSSD codes for filers on 9/30/2010
filers_RSSD_09302010 = client.retrieve_filers_since_date(ds_name='Call',
                                   reporting_pd_end='9/30/2010',
                                   last_update_date='9/30/2010')
# check how many filers - 5908
len(filers_RSSD_09302010)

7094

In [3]:
# Testing Call report for 1 filer
ds_name = 'Call'    # Pull Call report data
end_date = '9/30/2010'  # Pull data in reporting pd ending 3/31/17
fiID_type = 'ID_RSSD'  # Type of financial inst identifier
fiID = 688556    # Indentifier for Wyomin Bank and Trust
fmt = 'SDF'  # Pull report as PDF
# <facsimileFormat>PDF or XBRL or SDF</facsimileFormat>
outfile = None  # Output file path
return_result = True  # If True, method returns the data
results_bytes = client.retrieve_facsimile(ds_name=ds_name, reporting_pd_end=end_date,
                              fiID_type=fiID_type, fiID=fiID,
                              facsimile_fmt=fmt, outfile=None,
                              return_result=True)
report = StringIO(str(results_bytes, 'utf-8'))
report_df = pd.read_csv(report, sep=';')

In [4]:
report_df.head()

,Call Date,Bank RSSD Identifier,MDRM #,Value,Last Update,Short Definition,Call Schedule,Line Number
0,20100930,688556,RCON0010,14201,20101012,Cash and balances dues from depository institu...,RCR,34
1,20100930,688556,RCON0020,0,20101012,Cash items in process of collection and unpost...,RCA,1a
2,20100930,688556,RCON0071,12625,20101012,Interest-bearing balances,RC,1b
3,20100930,688556,RCON0073,0,20101012,Foreign branches of other U.S. banks,RCA,3a
4,20100930,688556,RCON0074,0,20101012,Other banks in foreign countries and foreign c...,RCA,3b

In [14]:
# Prepare dictionary of selected financials that are needed for CAMELS
selected_financials = {'RIAD3210' : 'Total equity capital', # Alt can be RCONG105
                       'RCON2170' : 'Total assets', # Ok
                       'RCON3360' : 'Total loans', #ok
                       'RCON3465' : '1-4 family residential loans', 
                       'RCON3466' : 'Other real estate loans',
                       'RCON3387' : 'Commercial and industrial loans',
                       'RCONB561' : 'Credit cards',
                       'RCON3123' : 'Allowance for loan losses', # OK
                       'RIAD4093' : 'Total noninterest expense', #OK
                       'RIAD4340' : 'Net Income attributable', # ok
                       'RIAD4300' : 'Net Income before', # new for healthy
                       'RCON2215' : 'Total transaction deposits', # ok
                       'RCON2385' : 'Total nontransaction deposits', # ok
                       'RCON1773' : 'Available-for-sale Fair Value',
                       'RIAD4150' : 'Number of full-time equivalent employees' # new for healthy
                      }

In [15]:
# Expected 13 columns, store column names in the list columns
len(selected_financials.keys())
columns = list(selected_financials.keys())
len(columns)

15

In [16]:
temp = filers_RSSD_09302010[0:3]

In [ ]:
# Pull 7000 reports for filers_RSSD_09302010, drop all values but 13 selected metrics -- returns only 27
all_data_df = pd.DataFrame()
fin_data_dic = {}
for i in range(len(filers_RSSD_09302010)):

    ds_name = 'Call'    # Pull Call report data
    end_date = '9/30/2010'  # Pull data in reporting pd ending 3/31/17
    fiID_type = 'ID_RSSD'  # Type of financial inst identifier (ID_RSSD, CERT )
    fiID = filers_RSSD_09302010[i]   # Indentifier for Wyomin Bank and Trust
    print("counter at ", i, " pulling RSSD# ", fiID)
    fmt = 'SDF'  # Pull report as PDF
    # <facsimileFormat>PDF or XBRL or SDF</facsimileFormat>
    #outfile = 'test8.PDF'  # Output file path
    return_result = True  # If True, method returns the data
    try:
        f = client.retrieve_facsimile(ds_name=ds_name, reporting_pd_end=end_date,
                                      fiID_type=fiID_type, fiID=fiID,
                                      facsimile_fmt=fmt, outfile=False,
                                      return_result=True)
        report = StringIO(str(f, 'utf-8'))
        report_df = pd.read_csv(report, sep=';')
        report_df.columns = ['Call Date', 'Bank RSSD Identifier', 'ValueID', 'Value', 'Last Update',
       'Short Definition', 'Call Schedule', 'Line Number']
        values = list(report_df[report_df.ValueID.isin(columns)].Value)
        fin_data_dic[fiID] = values
        #all_data_df = all_data_df.append(report_df, ignore_index=True)
    except:
        next

counter at  0  pulling RSSD#  175458
counter at  1  pulling RSSD#  660066
counter at  2  pulling RSSD#  856159
counter at  3  pulling RSSD#  1001451
counter at  4  pulling RSSD#  723158
counter at  5  pulling RSSD#  522669
counter at  6  pulling RSSD#  431846
counter at  7  pulling RSSD#  854351
counter at  8  pulling RSSD#  178057
counter at  9  pulling RSSD#  652753
counter at  10  pulling RSSD#  835743
counter at  11  pulling RSSD#  980438
counter at  12  pulling RSSD#  1216992
counter at  13  pulling RSSD#  371849
counter at  14  pulling RSSD#  913641
counter at  15  pulling RSSD#  734949
counter at  16  pulling RSSD#  97943
counter at  17  pulling RSSD#  365875
counter at  18  pulling RSSD#  24659
counter at  19  pulling RSSD#  898850
counter at  20  pulling RSSD#  630340
counter at  21  pulling RSSD#  910659
counter at  22  pulling RSSD#  595038
counter at  23  pulling RSSD#  116732
counter at  24  pulling RSSD#  489249
counter at  25  pulling RSSD#  386357
counter at  26  pulling RSSD#  963954
counter at  27  pulling RSSD#  3220863
counter at  28  pulling RSSD#  503640
counter at  29  pulling RSSD#  826956
counter at  30  pulling RSSD#  24855
counter at  31  pulling RSSD#  586241
counter at  32  pulling RSSD#  424633
counter at  33  pulling RSSD#  1394621
counter at  34  pulling RSSD#  372855
counter at  35  pulling RSSD#  1557
counter at  36  pulling RSSD#  378110
counter at  37  pulling RSSD#  378642
counter at  38  pulling RSSD#  815156
counter at  39  pulling RSSD#  725376
counter at  40  pulling RSSD#  854753
counter at  41  pulling RSSD#  734350
counter at  42  pulling RSSD#  809856
counter at  43  pulling RSSD#  505242
counter at  44  pulling RSSD#  138752
counter at  45  pulling RSSD#  639651
counter at  46  pulling RSSD#  3357077
counter at  47  pulling RSSD#  738657
counter at  48  pulling RSSD#  229940
counter at  49  pulling RSSD#  378950
counter at  50  pulling RSSD#  719964
counter at  51  pulling RSSD#  58551
counter at  52  pulling RSSD#  109154
counter at  53  pulling RSSD#  908759
counter at  54  pulling RSSD#  799359
counter at  55  pulling RSSD#  454742
counter at  56  pulling RSSD#  323651
counter at  57  pulling RSSD#  280352
counter at  58  pulling RSSD#  636753
counter at  59  pulling RSSD#  50854
counter at  60  pulling RSSD#  956554
counter at  61  pulling RSSD#  364850
counter at  62  pulling RSSD#  316934
counter at  63  pulling RSSD#  411576
counter at  64  pulling RSSD#  896258
counter at  65  pulling RSSD#  370954
counter at  66  pulling RSSD#  414652
counter at  67  pulling RSSD#  208057
counter at  68  pulling RSSD#  565844
counter at  69  pulling RSSD#  1014255
counter at  70  pulling RSSD#  824242
counter at  71  pulling RSSD#  911160
counter at  72  pulling RSSD#  764441
counter at  73  pulling RSSD#  2775692
counter at  74  pulling RSSD#  1669
counter at  75  pulling RSSD#  949949
counter at  76  pulling RSSD#  897451
counter at  77  pulling RSSD#  646042
counter at  78  pulling RSSD#  519874
counter at  79  pulling RSSD#  258379
counter at  80  pulling RSSD#  848752
counter at  81  pulling RSSD#  602842
counter at  82  pulling RSSD#  438050
counter at  83  pulling RSSD#  262358
counter at  84  pulling RSSD#  701745
counter at  85  pulling RSSD#  534859
counter at  86  pulling RSSD#  354851
counter at  87  pulling RSSD#  33754
counter at  88  pulling RSSD#  3669930
counter at  89  pulling RSSD#  918150
counter at  90  pulling RSSD#  34359
counter at  91  pulling RSSD#  246947
counter at  92  pulling RSSD#  700140
counter at  93  pulling RSSD#  305648
counter at  94  pulling RSSD#  315339
counter at  95  pulling RSSD#  359744
counter at  96  pulling RSSD#  413347
counter at  97  pulling RSSD#  1003549
counter at  98  pulling RSSD#  760649
counter at  99  pulling RSSD#  282226
counter at  100  pulling RSSD#  360777
counter at  101  pulling RSSD#  567736
counter at  102  pulling RSSD#  92144
counter at  103  pulling RSSD#  2702764
counter at  104  pulling RSSD#  111157
counter at  105  pulling RSSD#  885579
counter at  106  pulling RSSD#  338646
counter at  107  pulling RSSD#  7045
counter at  108  pulling RSSD#  103554
counter at  109  pulling RSSD#  752831
counter at  110  pulling RSSD#  954251
counter at  111  pulling RSSD#  229454
counter at  112  pulling RSSD#  655530
counter at  113  pulling RSSD#  1011852
counter at  114  pulling RSSD#  875655
counter at  115  pulling RSSD#  3153297
counter at  116  pulling RSSD#  595944
counter at  117  pulling RSSD#  238755
counter at  118  pulling RSSD#  945950
counter at  119  pulling RSSD#  284154
counter at  120  pulling RSSD#  207957
counter at  121  pulling RSSD#  879747
counter at  122  pulling RSSD#  484057
counter at  123  pulling RSSD#  183051
counter at  124  pulling RSSD#  683814
counter at  125  pulling RSSD#  94755
counter at  126  pulling RSSD#  229959
counter at  127  pulling RSSD#  297051
counter at  128  pulling RSSD#  477376
counter at  129  pulling RSSD#  914330
counter at  130  pulling RSSD#  835659
counter at  131  pulling RSSD#  2371508
counter at  132  pulling RSSD#  1187551
counter at  133  pulling RSSD#  82257
counter at  134  pulling RSSD#  675042
counter at  135  pulling RSSD#  368755
counter at  136  pulling RSSD#  444051
counter at  137  pulling RSSD#  143158
counter at  138  pulling RSSD#  289449
counter at  139  pulling RSSD#  925439
counter at  140  pulling RSSD#  239556
counter at  141  pulling RSSD#  646471
counter at  142  pulling RSSD#  624648
counter at  143  pulling RSSD#  3595682
counter at  144  pulling RSSD#  715630
counter at  145  pulling RSSD#  916147
counter at  146  pulling RSSD#  447034
counter at  147  pulling RSSD#  723747
counter at  148  pulling RSSD#  770451
counter at  149  pulling RSSD#  521756
counter at  150  pulling RSSD#  232847
counter at  151  pulling RSSD#  763556
counter at  152  pulling RSSD#  345345
counter at  153  pulling RSSD#  59679
counter at  154  pulling RSSD#  1401686
counter at  155  pulling RSSD#  1000557
counter at  156  pulling RSSD#  101439
counter at  157  pulling RSSD#  328151
counter at  158  pulling RSSD#  546647
counter at  159  pulling RSSD#  351131
counter at  160  pulling RSSD#  175056
counter at  161  pulling RSSD#  981453
counter at  162  pulling RSSD#  842116
counter at  163  pulling RSSD#  865151
counter at  164  pulling RSSD#  997557
counter at  165  pulling RSSD#  98454
counter at  166  pulling RSSD#  905356
counter at  167  pulling RSSD#  950758
counter at  168  pulling RSSD#  263243
counter at  169  pulling RSSD#  292850
counter at  170  pulling RSSD#  942847
counter at  171  pulling RSSD#  413851
counter at  172  pulling RSSD#  185859
counter at  173  pulling RSSD#  261360
counter at  174  pulling RSSD#  51356
counter at  175  pulling RSSD#  470434
counter at  176  pulling RSSD#  986159
counter at  177  pulling RSSD#  395836
counter at  178  pulling RSSD#  499538
counter at  179  pulling RSSD#  711959
counter at  180  pulling RSSD#  446130
counter at  181  pulling RSSD#  928645
counter at  182  pulling RSSD#  939249
counter at  183  pulling RSSD#  354057
counter at  184  pulling RSSD#  1007734
counter at  185  pulling RSSD#  80150
counter at  186  pulling RSSD#  1014059
counter at  187  pulling RSSD#  860053
counter at  188  pulling RSSD#  729459
counter at  189  pulling RSSD#  411651
counter at  190  pulling RSSD#  654542
counter at  191  pulling RSSD#  274641
counter at  192  pulling RSSD#  395256
counter at  193  pulling RSSD#  3122828
counter at  194  pulling RSSD#  695732
counter at  195  pulling RSSD#  987651
counter at  196  pulling RSSD#  54049
counter at  197  pulling RSSD#  571957
counter at  198  pulling RSSD#  332756
counter at  199  pulling RSSD#  84804
counter at  200  pulling RSSD#  366247
counter at  201  pulling RSSD#  182353
counter at  202  pulling RSSD#  708753
counter at  203  pulling RSSD#  479754
counter at  204  pulling RSSD#  182652
counter at  205  pulling RSSD#  290230
counter at  206  pulling RSSD#  889652
counter at  207  pulling RSSD#  810544
counter at  208  pulling RSSD#  575348
counter at  209  pulling RSSD#  858153
counter at  210  pulling RSSD#  236256
counter at  211  pulling RSSD#  688556
counter at  212  pulling RSSD#  723868
counter at  213  pulling RSSD#  3592814

counter at  214  pulling RSSD#  453446
counter at  215  pulling RSSD#  504647
counter at  216  pulling RSSD#  51253
counter at  217  pulling RSSD#  376068
counter at  218  pulling RSSD#  3649624
counter at  219  pulling RSSD#  272151
counter at  220  pulling RSSD#  111559
counter at  221  pulling RSSD#  685733
counter at  222  pulling RSSD#  340443
counter at  223  pulling RSSD#  563457
counter at  224  pulling RSSD#  121651
counter at  225  pulling RSSD#  141350
counter at  226  pulling RSSD#  3571015
counter at  227  pulling RSSD#  242949
counter at  228  pulling RSSD#  85454
counter at  229  pulling RSSD#  641252
counter at  230  pulling RSSD#  601032
counter at  231  pulling RSSD#  472045
counter at  232  pulling RSSD#  856542
counter at  233  pulling RSSD#  976347
counter at  234  pulling RSSD#  552956
counter at  235  pulling RSSD#  825847
counter at  236  pulling RSSD#  426141
counter at  237  pulling RSSD#  715032
counter at  238  pulling RSSD#  924058
counter at  239  pulling RSSD#  996251
counter at  240  pulling RSSD#  177555
counter at  241  pulling RSSD#  58074
counter at  242  pulling RSSD#  2724766
counter at  243  pulling RSSD#  615954
counter at  244  pulling RSSD#  350657
counter at  245  pulling RSSD#  3187395
counter at  246  pulling RSSD#  37659
counter at  247  pulling RSSD#  531250
counter at  248  pulling RSSD#  614751
counter at  249  pulling RSSD#  658540
counter at  250  pulling RSSD#  258146
counter at  251  pulling RSSD#  974754
counter at  252  pulling RSSD#  750154
counter at  253  pulling RSSD#  2505787
counter at  254  pulling RSSD#  457220
counter at  255  pulling RSSD#  391418
counter at  256  pulling RSSD#  594451
counter at  257  pulling RSSD#  394352
counter at  258  pulling RSSD#  421445
counter at  259  pulling RSSD#  971379
counter at  260  pulling RSSD#  6039
counter at  261  pulling RSSD#  1005459
counter at  262  pulling RSSD#  35646
counter at  263  pulling RSSD#  621245
counter at  264  pulling RSSD#  978659
counter at  265  pulling RSSD#  876157
counter at  266  pulling RSSD#  415855
counter at  267  pulling RSSD#  798857
counter at  268  pulling RSSD#  228345
counter at  269  pulling RSSD#  960533

In [10]:
fin_data_dic

{175458: ['3902',
  '21653',
  '4651',
  '14104',
  '186',
  '12287',
  '1896',
  '4825',
  '1176',
  '0',
  '2405',
  '423',
  '177'],
 660066: ['27329',
  '54633',
  '14683',
  '32036',
  '20',
  '21577',
  '625',
  '3941',
  '12662',
  '0',
  '7822',
  '635',
  '1134'],
 856159: ['3342',
  '17735',
  '5350',
  '9925',
  '171',
  '11137',
  '1074',
  '3899',
  '3894',
  '0',
  '2419',
  '404',
  '210']}

In [11]:
# Inspect the data pulled
healthy_after_2010Q3 = pd.DataFrame.from_dict(fin_data_dic, orient='index')
healthy_after_2010Q3.columns = columns
values = list(selected_financials.values())
healthy_after_2010Q3.columns = values
healthy_after_2010Q3


#store the data
#healthy_after_2010Q3.to_csv('data/healthy_after_2010Q3')

,Total equity capital,Total assets,Total loans,1-4 family residential loans,Other real estate loans,Commercial and industrial loans,Credit cards,Allowance for loan losses,Total noninterest expense,Net Income attributable,Total transaction deposits,Total nontransaction deposits,Available-for-sale Fair Value
175458,3902,21653,4651,14104,186,12287,1896,4825,1176,0,2405,423,177
660066,27329,54633,14683,32036,20,21577,625,3941,12662,0,7822,635,1134
856159,3342,17735,5350,9925,171,11137,1074,3899,3894,0,2419,404,210