In [286]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from ffipy import FFIEC_Client
from io import StringIO

In [287]:
client = FFIEC_Client()
# get a list of RSSD codes for filers on 3/31/2019
filers_RSSD_12312010 = client.retrieve_filers_since_date(ds_name='Call',
                                   reporting_pd_end='12/31/2010',
                                   last_update_date='12/31/2010')
# check how many filers - 5908
len(filers_RSSD_12312010)

6999

In [288]:
failed_banks_df = pd.read_csv('data/failed_banks_dataset.csv')
failed_banks_df['Date'] = pd.to_datetime(failed_banks_df['Closing Date'])
failed_banks_df['Year_failed'] = failed_banks_df['Date'].dt.year
failed_banks_df['Quarter_failed'] = failed_banks_df['Date'].dt.quarter
failed_banks_2010Q4 = failed_banks_df.loc[(failed_banks_df.Year_failed == 2010) & (failed_banks_df.Quarter_failed == 4)]
failed_banks_2010Q4.head()
#failed_banks_2010Q4['CERT'].count()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date,Date,Year_failed,Quarter_failed
207,Community National Bank,Lino Lakes,MN,23306,Farmers & Merchants Savings Bank,17-Dec-10,10-Nov-16,2010-12-17,2010,4
208,First Southern Bank,Batesville,AR,58052,Southern Bank,17-Dec-10,29-Jan-19,2010-12-17,2010,4
209,"United Americas Bank, N.A.",Atlanta,GA,35065,State Bank and Trust Company,17-Dec-10,17-Oct-15,2010-12-17,2010,4
210,"Appalachian Community Bank, FSB",McCaysville,GA,58495,Peoples Bank of East Tennessee,17-Dec-10,29-Jan-19,2010-12-17,2010,4
211,Chestatee State Bank,Dawsonville,GA,34578,Bank of the Ozarks,17-Dec-10,21-Sep-15,2010-12-17,2010,4

In [305]:
# Prepare the list of CERT to pull financial metrics in a loop
banks_CERT_2010Q4_list = list(failed_banks_2010Q4.CERT)
banks_CERT_2010Q4_list

[23306,
 58052,
 35065,
 58495,
 34578,
 19040,
 35561,
 34673,
 5287,
 35078,
 20340,
 35463,
 14580,
 57831,
 57885,
 34411,
 58087,
 31263,
 32582,
 22173,
 16089,
 2119,
 33904,
 32251,
 27573,
 34016,
 58205,
 30898,
 35250,
 21777]

In [373]:
# Pull 30 reports, drop all values but 11 selected metrics -- returns only 27
all_data_df = pd.DataFrame()
fin_data_dic = {}
for i in range(len(banks_CERT_2010Q4_list)):

    ds_name = 'Call'    # Pull Call report data
    end_date = '9/30/2010'  # Pull data in reporting pd ending 3/31/17
    fiID_type = 'FDICCertNumber'  # Type of financial inst identifier (ID_RSSD, CERT )
    fiID = banks_CERT_2010Q4_list[i]   # Indentifier for Wyomin Bank and Trust
    print("counter at ", i, " pulling CERT# ", fiID)
    fmt = 'SDF'  # Pull report as PDF
    # <facsimileFormat>PDF or XBRL or SDF</facsimileFormat>
    #outfile = 'test8.PDF'  # Output file path
    return_result = True  # If True, method returns the data
    try:
        f = client.retrieve_facsimile(ds_name=ds_name, reporting_pd_end=end_date,
                                      fiID_type=fiID_type, fiID=fiID,
                                      facsimile_fmt=fmt, outfile=False,
                                      return_result=True)
        report = StringIO(str(f, 'utf-8'))
        report_df = pd.read_csv(report, sep=';')
        report_df.columns = ['Call Date', 'Bank RSSD Identifier', 'ValueID', 'Value', 'Last Update',
       'Short Definition', 'Call Schedule', 'Line Number']
        values = list(report_df[report_df.ValueID.isin(fin_columns)].Value)
        fin_data_dic[fiID] = values
        all_data_df = all_data_df.append(report_df, ignore_index=True)
    except:
        next

counter at  0  pulling CERT#  23306
counter at  1  pulling CERT#  58052
counter at  2  pulling CERT#  35065
counter at  3  pulling CERT#  58495
counter at  4  pulling CERT#  34578
counter at  5  pulling CERT#  19040
counter at  6  pulling CERT#  35561
counter at  7  pulling CERT#  34673
counter at  8  pulling CERT#  5287
counter at  9  pulling CERT#  35078
counter at  10  pulling CERT#  20340
counter at  11  pulling CERT#  35463
counter at  12  pulling CERT#  14580
counter at  13  pulling CERT#  57831
counter at  14  pulling CERT#  57885
counter at  15  pulling CERT#  34411
counter at  16  pulling CERT#  58087
counter at  17  pulling CERT#  31263
counter at  18  pulling CERT#  32582
counter at  19  pulling CERT#  22173
counter at  20  pulling CERT#  16089
counter at  21  pulling CERT#  2119
counter at  22  pulling CERT#  33904
counter at  23  pulling CERT#  32251
counter at  24  pulling CERT#  27573
counter at  25  pulling CERT#  34016
counter at  26  pulling CERT#  58205
counter at  27  pulling CERT#  30898
counter at  28  pulling CERT#  35250
counter at  29  pulling CERT#  21777

In [374]:
fin_data_dic

{23306: ['31569',
  '5633',
  '23211',
  '760',
  '16517',
  '0',
  '0',
  '0',
  '2653',
  '2186',
  '-1859'],
 58052: ['191764',
  '17047',
  '138756',
  '1584',
  '124817',
  '0',
  '0',
  '0',
  '19250',
  '3427',
  '510'],
 35065: ['242339',
  '13011',
  '180793',
  '14570',
  '188047',
  '0',
  '2924',
  '0',
  '-1833',
  '5865',
  '-16068'],
 34578: ['244376',
  '29439',
  '211037',
  '3259',
  '180194',
  '0',
  '3133',
  '585',
  '2124',
  '7248',
  '-11104'],
 19040: ['73295', '299323', '328903', nan, '-775', '17782', '-26732'],
 35561: ['112643',
  '7611',
  '96894',
  '2242',
  '78083',
  '0',
  '0',
  '0',
  '2272',
  '3544',
  '-1364'],
 34673: ['252744',
  '20450',
  '193100',
  '8640',
  '233102',
  '0',
  '6182',
  '0',
  '2571',
  '8568',
  '-10207'],
 5287: ['750724',
  '36539',
  '628213',
  '37225',
  '572553',
  '0',
  '20081',
  '0',
  '8463',
  '19338',
  '-27757'],
 35078: ['106595',
  '9706',
  '82290',
  '1289',
  '86882',
  '0',
  '0',
  '0',
  '1474',
  '4679',
  '-4667'],
 20340: ['112144',
  '37086',
  '75107',
  '3748',
  '74954',
  '0',
  '2109',
  '0',
  '-324',
  '4279',
  '-4286'],
 35463: ['203955',
  '16416',
  '173766',
  '8796',
  '150363',
  '0',
  '7931',
  '0',
  '-2354',
  '6618',
  '-17831'],
 14580: ['654714',
  '22062',
  '565564',
  '12604',
  '411257',
  '0',
  '0',
  '842',
  '9020',
  '16179',
  '-22846'],
 57831: ['143729',
  '19571',
  '122002',
  '7416',
  '100823',
  '0',
  '6853',
  '0',
  '1758',
  '2755',
  '-11036'],
 57885: ['48000',
  '9297',
  '37715',
  '622',
  '35951',
  '0',
  '0',
  '0',
  '611',
  '2551',
  '-1952'],
 34411: ['221082',
  '42125',
  '151348',
  '8577',
  '173680',
  '0',
  '1463',
  '0',
  '4532',
  '6669',
  '-8260'],
 58087: ['98635',
  '27115',
  '74012',
  '3912',
  '82924',
  '0',
  '5421',
  '0',
  '-3483',
  '4974',
  '-12739'],
 31263: ['538258',
  '28004',
  '472052',
  '14792',
  '427925',
  '0',
  '27660',
  '0',
  '6741',
  '15502',
  '-16779'],
 22173: ['1583611',
  '48202',
  '1440583',
  '34385',
  '1023750',
  '0',
  '71645',
  '0',
  '3788',
  '31718',
  '-69281'],
 16089: ['143451',
  '33116',
  '102359',
  '2409',
  '112780',
  '0',
  '934',
  '0',
  '3742',
  '5152',
  '-1938'],
 2119: ['126622',
  '18550',
  '104330',
  '1334',
  '98809',
  '0',
  '15499',
  '0',
  '2683',
  '3411',
  '-7095'],
 33904: ['29259',
  '15224',
  '11643',
  '654',
  '15000',
  '0',
  '0',
  '0',
  '310',
  '1097',
  '-1658'],
 32251: ['94823',
  '5583',
  '81278',
  '1780',
  '84674',
  '0',
  '1347',
  '0',
  '473',
  '3276',
  '-3076'],
 27573: ['73922',
  '8600',
  '63598',
  '2185',
  '56001',
  '0',
  '1976',
  '0',
  '-1303',
  '2759',
  '-6138'],
 34016: ['989382',
  '59159',
  '810208',
  '58180',
  '707503',
  '0',
  '51189',
  '0',
  '10599',
  '23510',
  '-33484'],
 58205: ['87782',
  '6779',
  '63352',
  '3165',
  '66287',
  '0',
  '1105',
  '0',
  '25',
  '3153',
  '-3459'],
 35250: ['92980',
  '19963',
  '70681',
  '4170',
  '70048',
  '0',
  '0',
  '0',
  '1131',
  '4009',
  '-4106'],
 21777: ['402205',
  '21273',
  '345955',
  '20022',
  '297286',
  '0',
  '10811',
  '360',
  '12540',
  '14450',
  '-16059']}

In [371]:
values = list(report_df[report_df.ValueID.isin(fin_columns)].Value)
values

['402205',
 '21273',
 '345955',
 '20022',
 '297286',
 '0',
 '10811',
 '360',
 '12540',
 '14450',
 '-16059']

In [359]:
#all_data_df.to_csv('data/failed_banks_reports2010Q4')
all_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103191 entries, 0 to 103190
Data columns (total 9 columns):
Bank RSSD Identifier    103191 non-null int64
Call Date               103191 non-null int64
Call Schedule           103191 non-null object
Last Update             103191 non-null int64
Line Number             103191 non-null object
MDRM #                  50752 non-null object
Short Definition        103191 non-null object
Value                   67007 non-null object
ValueID                 52439 non-null object
dtypes: int64(3), object(6)
memory usage: 7.1+ MB

In [344]:
financial_metrics_dict = {'RIAD3210':'Total equity capital',
                          'RCON2170':'Total assets',
                          'RCON3360':'Total loans',
                          'RCONC410':'New nonaccrual assets',
                          'RCONC411': 'Sold nonaccrual assets',
                          'RCON3123':'Allowance for loan losses',
                          'RIAD4093':'Total noninterest expense',
                          'RIAD4340':'Net Income attributable',
                          'RCON2215':'Total transaction deposits',
                          'RCON2385':'Total nontransaction deposits',
                          'RCON3545':'Trading assets'}
fin_columns = list(financial_metrics_dict.keys())

In [361]:
selected_data_df = all_data_df[all_data_df['ValueID'].isin(fin_columns)]
selected_data_df.groupby('ValueID').count()

,Bank RSSD Identifier,Call Date,Call Schedule,Last Update,Line Number,MDRM #,Short Definition,Value
ValueID,,,,,,,,
RCON2170,30,30,30,30,30,0,30,30
RCON2215,31,31,31,31,31,0,31,31
RCON2385,31,31,31,31,31,0,31,31
RCON3123,30,30,30,30,30,0,30,30
RCON3360,31,31,31,31,31,0,31,31
RCON3545,31,31,31,31,31,0,31,30
RCONC410,30,30,30,30,30,0,30,30
RCONC411,30,30,30,30,30,0,30,30
RIAD3210,31,31,31,31,31,0,31,31
RIAD4093,31,31,31,31,31,0,31,31
RIAD4340,31,31,31,31,31,0,31,31

In [363]:
selected_data_df.tail()

,Bank RSSD Identifier,Call Date,Call Schedule,Last Update,Line Number,MDRM #,Short Definition,Value,ValueID
102271,16337,20100930,RCN,20101029,M7,NaN,Additions to nonaccrual assets during the quarter,10811,RCONC410
102272,16337,20100930,RCN,20101029,M8,NaN,Nonaccrual assets sold during the quarter,360,RCONC411
102866,16337,20100930,RIA,20101029,12,NaN,Total bank equity capital end of current perio...,12540,RIAD3210
102889,16337,20100930,RI,20101029,7e,NaN,Total noninterest expense,14450,RIAD4093
102909,16337,20100930,RIA,20101029,4,NaN,Net income (loss) attributable to bank (must e...,-16059,RIAD4340

In [180]:
# Testing Call report for 1 filer
ds_name = 'Call'    # Pull Call report data
end_date = '9/30/2010'  # Pull data in reporting pd ending 3/31/17
fiID_type = 'FDICCertNumber'  # Type of financial inst identifier (ID_RSSD or FDICCertNumber)
fiID = 23306    # Indentifier for Wyomin Bank and Trust
fmt = 'SDF'  # Pull report as PDF
# <facsimileFormat>PDF or XBRL or SDF</facsimileFormat>
outfile = None  # Output file path
return_result = True  # If True, method returns the data
results_bytes2 = client.retrieve_facsimile(ds_name=ds_name, reporting_pd_end=end_date,
                              fiID_type=fiID_type, fiID=fiID,
                              facsimile_fmt=fmt, outfile=None,
                              return_result=True)
report = StringIO(str(results_bytes2, 'utf-8'))
report_df = pd.read_csv(report, sep=';')

In [181]:
report_df.columns = ['Call Date', 'Bank RSSD Identifier', 'ValueID', 'Value', 'Last Update',
       'Short Definition', 'Call Schedule', 'Line Number']

In [294]:
financial_metrics_dict = {'RIAD3210':'Total equity capital',
                          'RCON2170':'Total assets',
                          'RCON3360':'Total loans',
                          'RCONC410':'New nonaccrual assets',
                          'RCONC411': 'Sold nonaccrual assets',
                          'RCON3123':'Allowance for loan losses',
                          'RIAD4093':'Total noninterest expense',
                          'RIAD4340':'Net Income attributable',
                          'RCON2215':'Total transaction deposits',
                          'RCON2385':'Total nontransaction deposits',
                          'RCON3545':'Trading assets'}
fin_columns = list(financial_metrics_dict.keys())

In [ ]:
selected_metrics = report_df[report_df['ValueID'].isin(fin_columns)]

In [293]:
fin_columns = list(financial_metrics_dict.keys())
failed_banks_2010Q4 = failed_banks_2010Q4.reindex(columns = np.append(failed_banks_2010Q4.columns.values, fin_columns))

In [207]:
list(fin_columns)

['RIAD3210',
 'RCON2170',
 'RCON3360',
 'RCONC410',
 'RCONC411',
 'RCON3123',
 'RIAD4093',
 'RIAD4340',
 'RCON2215',
 'RCON2385',
 'RCON3545']

In [238]:
selected_metrics = report_df[report_df['ValueID'].isin(fin_columns)]
selected_metrics.drop(columns = ['Call Date', 'Bank RSSD Identifier', 'Last Update',
       'Short Definition', 'Call Schedule', 'Line Number'], axis =1, inplace=True)

/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [209]:
report_df.loc[report_df.ValueID == 'RCON2215']

,Call Date,Bank RSSD Identifier,ValueID,Value,Last Update,Short Definition,Call Schedule,Line Number
89,20100930,367851,RCON2215,5633,20101019,Total,RCE,7

In [174]:
len(failed_banks_2010Q4.columns)

32

In [314]:
test_data = {'2002':['2002', '2003', '2004', None, '2002', '2007'], 
             '2003':['2003', '2003', '2004', None, "bob", '2005'],
             '2004':['2004', None, '2004', '2004', '2007', '2002'],
             '2005':['', '', '', '', '', ''] } 
test_data2 = {'2010':['2002', '2003', '2004', None, '2002', '2007'], 
             '2015':['', '', '', '', '', ''] } 
test_df = pd.DataFrame(test_data) 
test_df2 = pd.DataFrame(test_data2)
df = pd.DataFrame()
df = df.append(test_data, ignore_index=True)
df

,2002,2003,2004,2005
0,"[2002, 2003, 2004, None, 2002, 2007]","[2003, 2003, 2004, None, bob, 2005]","[2004, None, 2004, 2004, 2007, 2002]","[, , , , , ]"

In [187]:
len(report_df.index)
report_df.head()

,Call Date,Bank RSSD Identifier,ValueID,Value,Last Update,Short Definition,Call Schedule,Line Number
0,20100930,367851,RCON0010,6646,20101019,Cash and balances dues from depository institu...,RCR,34
1,20100930,367851,RCON0020,NaN,20101019,Cash items in process of collection and unpost...,RCA,1a
2,20100930,367851,RCON0071,6074,20101019,Interest-bearing balances,RC,1b
3,20100930,367851,RCON0073,NaN,20101019,Foreign branches of other U.S. banks,RCA,3a
4,20100930,367851,RCON0074,NaN,20101019,Other banks in foreign countries and foreign c...,RCA,3b

In [25]:
RIAD3210 = report_df.loc[report_df.ValueID == 'RIAD3210']['Value'] # Total equity is 2653 for ID=367851

type(RIAD3210)

pandas.core.series.Series

In [24]:
report_df.loc[report_df.ValueID == 'RCON3545']

,Call Date,Bank RSSD Identifier,ValueID,Value,Last Update,Short Definition,Call Schedule,Line Number
154,20100930,367851,RCON3545,0,20101019,Trading Assets,RCR,41

In [176]:
report_df.loc[report_df.ValueID == 'RCONG105'] # Total equity is 2653 for ID=367851, SAME AS ABOVE!!!

Empty DataFrame
Columns: [Call Date, Bank RSSD Identifier, ValueID, Value, Last Update, Short Definition, Call Schedule, Line Number]
Index: []

In [177]:
report_df.loc[report_df.ValueID == 'RCON2170']['Value'] # Total assets is  31569 for ID=367851

0       6646
1        NaN
2       6074
3        NaN
4        NaN
5        NaN
6        572
7        NaN
8        NaN
9        NaN
10         0
11         0
12      2809
13         0
14         0
15         0
16         0
17         0
18       NaN
19       NaN
20       NaN
21       NaN
22       NaN
23       NaN
24         0
25         0
26         0
27         0
28         0
29         0
        ...
1657     NaN
1658     NaN
1659     NaN
1660     NaN
1661     NaN
1662     NaN
1663     NaN
1664     NaN
1665     NaN
1666     NaN
1667     NaN
1668     NaN
1669     NaN
1670     NaN
1671     NaN
1672     NaN
1673     NaN
1674     NaN
1675     NaN
1676     NaN
1677     NaN
1678     NaN
1679     NaN
1680     NaN
1681     NaN
1682     NaN
1683     NaN
1684     NaN
1685     NaN
1686     NaN
Name: Value, Length: 1687, dtype: object

In [41]:
EQTA = RIAD3210 / RCON2170 # 1) Total Equity / Total Assets (EQTA) = 0.08 for ID=367851

In [52]:
#RCON3360 = report_df.loc[report_df.ValueID == 'RCON3360'] #Total loans of 16517  for ID=367851
#EQTL = RCONG105 / RCON3360 # Total Equity / Total Loans (EQTL)

In [11]:
#NPLTA = Non Performing Loans / Total Assets (NPLTA)
#RCONC410  #Additions to nonaccrual assets during the previous six months
#RCONC411 # Nonaccrual assets sold during the previous six months

#LLRTA = Loan Loss Reserves / Total Assest
# RCON3123     # Allowance for loan and lease losses

#LLRGL = Loan Loss Reserves / Gross Loans (LLRGL)


# (M)anagement quality
#       7) Operating Expenses / Assets (OEXTA)
# RIAD4093 # Total noninterest expense (sum of items 7.a through 7.d).




#       - Operating Costs / Net Operating Income (OCNOI)
#
#
# (E)arnings ability
#       8) Net Income / Total Assest (ROA)
# RIAD4340    # Net Income (Net income (loss) attributable to bank (item 12 minus item 13).)
#       9) Net Income / Total Equity (ROE)
# 
#
#
#(L)iquidity, i.e. ability to fulfill its short-term liability
#       10) Total Loans / Total Customer Deposits (TLTD)
#  RCON2215  # Total transaction accounts deposits 
#  RCON2385  # Total non-transaction accounts 
#
#
#       11) Total Customer Deposits / Total Assest (TDTA)
#
#
#
# (S)ensitivity to market risk 
#  RCON3545 # Trading Assets /Total assest
#
#
#  Schedule RC-B: Securities 
#  RCON1754 # (Column A) Held-to-maturity Amortized Cost
#  RCON1771 # (Column B) Held-to-maturity Fair Value
#  RCON1772 # (Column C) Available-for-sale Amortized Cost
#  RCON1773 # (Column D) Available-for-sale Fair Value

In [10]:
report_df.loc[report_df.ValueID == 'RCONB549'] # Trading Assets

,Call Date,Bank RSSD Identifier,ValueID,Value,Last Update,Short Definition,Call Schedule,Line Number
443,20100930,367851,RCONB549,5469,20101019,"Individuals, partnerships, and corporations (i...",RCE,1