In [1]:
import pandas as pd

In [2]:
#failed_banks = pd.read_clipboard(sep=',')
# source: https://www.fdic.gov/bank/individual/failed/banklist.csv 
# date 08/25/2019
failed_banks = pd.read_csv('data/failed_banks_dataset.csv')

In [10]:
failed_banks.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19,22-Aug-19
1,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,24-Jul-19
2,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,12-Aug-19
3,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,29-Jan-19
4,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,22-Mar-18

In [11]:
# recode column in DataTime
failed_banks.groupby('Closing Date').count()

              Bank Name  City  ST  CERT  Acquiring Institution  Updated Date
Closing Date
1-Aug-08              1     1   1     1                      1             1
1-Feb-02              1     1   1     1                      1             1
1-Mar-02              1     1   1     1                      1             1
1-May-09              3     3   3     3                      3             3
1-Oct-10              2     2   2     2                      2             2
10-Apr-09             2     2   2     2                      2             2
10-Dec-10             2     2   2     2                      2             2
10-Feb-12             2     2   2     2                      2             2
10-Jul-09             1     1   1     1                      1             1
10-Jul-15             1     1   1     1                      1             1
10-May-13             2     2   2     2                      2             2
10-Nov-11             1     1   1     1                      1             1
10-Oct-08             2     2   2     2                      2             2
10-Sep-10             1     1   1     1                      1             1
11-Dec-09             3     3   3     3                      3             3
11-Feb-11             4     4   4     4                      4             4
11-Jan-02             1     1   1     1                      1             1
11-Jan-13             1     1   1     1                      1             1
11-Jul-08             1     1   1     1                      1             1
11-Jun-10             1     1   1     1                      1             1
11-Mar-10             1     1   1     1                      1             1
11-Mar-11             2     2   2     2                      2             2
11-Mar-16             1     1   1     1                      1             1
11-Sep-09             3     3   3     3                      3             3
12-Aug-11             1     1   1     1                      1             1
12-Dec-08             2     2   2     2                      2             2
12-Mar-04             1     1   1     1                      1             1
12-Mar-10             3     3   3     3                      3             3
12-Nov-10             3     3   3     3                      3             3
13-Aug-10             1     1   1     1                      1             1
...                 ...   ...  ..   ...                    ...           ...
6-May-11              1     1   1     1                      1             1
6-May-16              1     1   1     1                      1             1
6-Nov-09              5     5   5     5                      5             5
7-Aug-09              3     3   3     3                      3             3
7-Feb-02              1     1   1     1                      1             1
7-Feb-03              1     1   1     1                      1             1
7-Jan-11              2     2   2     2                      2             2
7-Jun-13              1     1   1     1                      1             1
7-Mar-08              1     1   1     1                      1             1
7-May-10              4     4   4     4                      4             4
7-Nov-08              2     2   2     2                      2             2
7-Nov-14              1     1   1     1                      1             1
7-Oct-11              2     2   2     2                      2             2
7-Sep-01              1     1   1     1                      1             1
7-Sep-12              1     1   1     1                      1             1
8-Apr-11              2     2   2     2                      2             2
8-Jan-10              1     1   1     1                      1             1
8-Jul-11              3     3   3     3                      3             3
8-Jun-12              4     4   4     4                      4             4
8-Mar-13              1     1   1     1                      1             1
8-May-09              1     1   1     1                      1             1
8-May-15              1     1   1     1                      1             1
8-Nov-02              1     1   1     1                      1             1
9-Apr-10              1     1   1     1                      1             1
9-Aug-13              1     1   1     1                      1             1
9-Jul-10              4     4   4     4                      4             4
9-Mar-12              1     1   1     1                      1             1
9-May-03              1     1   1     1                      1             1
9-May-08              1     1   1     1                      1             1
9-Sep-11              1     1   1     1                      1             1

[252 rows x 6 columns]

In [6]:
len(failed_banks)

556

In [7]:
failed_banks.describe()

               CERT
count    556.000000
mean   31664.573741
std    16411.153042
min       91.000000
25%    20268.250000
50%    32176.000000
75%    35360.000000
max    58701.000000

In [19]:
failed_banks.to_csv('data/failed_banks_dataset.csv', index=False)