In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from ffipy import FFIEC_Client
from io import StringIO

In [175]:
failed_banks_df = pd.read_csv('data/failed_banks_dataset.csv')
failed_banks_df['Date'] = pd.to_datetime(failed_banks_df['Closing Date'])
failed_banks_df['Year_failed'] = failed_banks_df['Date'].dt.year
failed_banks_df['Quarter_failed'] = failed_banks_df['Date'].dt.quarter
failed_banks_2010Q4 = failed_banks_df.loc[(failed_banks_df.Year_failed == 2010) & (failed_banks_df.Quarter_failed == 4)]
failed_banks_2010Q4.head()
failed_banks_2010Q4['CERT'].count()

30

In [114]:
# Updated list of selected financials include loan types now
selected_financials = {'RIAD3210' : 'Total equity capital', # Alt can be RCONG105
                       'RCON2170' : 'Total assets', # Ok
                       'RCON3360' : 'Total loans', #ok
                       'RCON3465' : '1-4 family residential loans', 
                       'RCON3466' : 'Other real estate loans',
                       'RCON3387' : 'Commercial and industrial loans',
                       'RCONB561' : 'Credit cards',
                       'RCON3123' : 'Allowance for loan losses', # OK
                       'RIAD4093' : 'Total noninterest expense', #OK
                       'RIAD4340' : 'Net Income attributable', # ok
                       'RCON2215' : 'Total transaction deposits', # ok
                       'RCON2385' : 'Total nontransaction deposits', # ok
                       'RCON1773' : 'Available-for-sale Fair Value'
                      }

In [174]:
len(selected_financials.keys())
columns = list(selected_financials.keys())
len(columns)

13

In [127]:
# Pull 30 reports, drop all values but 13 selected metrics -- returns only 27
all_data_df = pd.DataFrame()
fin_data_dic = {}
for i in range(len(banks_CERT_2010Q4_list)):

    ds_name = 'Call'    # Pull Call report data
    end_date = '9/30/2010'  # Pull data in reporting pd ending 3/31/17
    fiID_type = 'FDICCertNumber'  # Type of financial inst identifier (ID_RSSD, CERT )
    fiID = banks_CERT_2010Q4_list[i]   # Indentifier for Wyomin Bank and Trust
    print("counter at ", i, " pulling CERT# ", fiID)
    fmt = 'SDF'  # Pull report as PDF
    # <facsimileFormat>PDF or XBRL or SDF</facsimileFormat>
    #outfile = 'test8.PDF'  # Output file path
    return_result = True  # If True, method returns the data
    try:
        f = client.retrieve_facsimile(ds_name=ds_name, reporting_pd_end=end_date,
                                      fiID_type=fiID_type, fiID=fiID,
                                      facsimile_fmt=fmt, outfile=False,
                                      return_result=True)
        report = StringIO(str(f, 'utf-8'))
        report_df = pd.read_csv(report, sep=';')
        report_df.columns = ['Call Date', 'Bank RSSD Identifier', 'ValueID', 'Value', 'Last Update',
       'Short Definition', 'Call Schedule', 'Line Number']
        values = list(report_df[report_df.ValueID.isin(columns)].Value)
        fin_data_dic[fiID] = values
        all_data_df = all_data_df.append(report_df, ignore_index=True)
    except:
        next

counter at  0  pulling CERT#  23306
counter at  1  pulling CERT#  58052
counter at  2  pulling CERT#  35065
counter at  3  pulling CERT#  58495
counter at  4  pulling CERT#  34578
counter at  5  pulling CERT#  19040
counter at  6  pulling CERT#  35561
counter at  7  pulling CERT#  34673
counter at  8  pulling CERT#  5287
counter at  9  pulling CERT#  35078
counter at  10  pulling CERT#  20340
counter at  11  pulling CERT#  35463
counter at  12  pulling CERT#  14580
counter at  13  pulling CERT#  57831
counter at  14  pulling CERT#  57885
counter at  15  pulling CERT#  34411
counter at  16  pulling CERT#  58087
counter at  17  pulling CERT#  31263
counter at  18  pulling CERT#  32582
counter at  19  pulling CERT#  22173
counter at  20  pulling CERT#  16089
counter at  21  pulling CERT#  2119
counter at  22  pulling CERT#  33904
counter at  23  pulling CERT#  32251
counter at  24  pulling CERT#  27573
counter at  25  pulling CERT#  34016
counter at  26  pulling CERT#  58205
counter at  27  pulling CERT#  30898
counter at  28  pulling CERT#  35250
counter at  29  pulling CERT#  21777

In [132]:
len(all_data_df)

45691

In [157]:
failed_after_2010Q3 = pd.DataFrame.from_dict(fin_data_dic, orient='index')
failed_after_2010Q3.columns = columns
values = list(selected_financials.values())

In [158]:
failed_after_2010Q3.columns = values

In [161]:
#failed_after_2010Q3.to_csv('data/failed_after_2010Q3')

In [163]:
failed_banks_2010Q3 = failed_banks_df.loc[(failed_banks_df.Year_failed == 2010) & (failed_banks_df.Quarter_failed == 3)]
banks_CERT_2010Q3_list = list(failed_banks_2010Q3.CERT)
len(banks_CERT_2010Q3_list)

41

In [165]:
# Pull 41 reports, drop all values but 13 selected metrics
all_data_df = pd.DataFrame()
fin_data_dic = {}

for i in range(len(banks_CERT_2010Q3_list)):

    ds_name = 'Call'    # Pull Call report data
    end_date = '6/30/2010'  # Pull data in reporting pd ending 3/31/17
    fiID_type = 'FDICCertNumber'  # Type of financial inst identifier (ID_RSSD, CERT )
    fiID = banks_CERT_2010Q3_list[i]   # Indentifier for Wyomin Bank and Trust
    print("counter at ", i, " pulling CERT# ", fiID)
    fmt = 'SDF'  # Pull report as PDF
    # <facsimileFormat>PDF or XBRL or SDF</facsimileFormat>
    #outfile = 'test8.PDF'  # Output file path
    return_result = True  # If True, method returns the data
    try:
        f = client.retrieve_facsimile(ds_name=ds_name, reporting_pd_end=end_date,
                                      fiID_type=fiID_type, fiID=fiID,
                                      facsimile_fmt=fmt, outfile=False,
                                      return_result=True)
        report = StringIO(str(f, 'utf-8'))
        report_df = pd.read_csv(report, sep=';')
        report_df.columns = ['Call Date', 'Bank RSSD Identifier', 'ValueID', 'Value', 'Last Update',
       'Short Definition', 'Call Schedule', 'Line Number']
        values = list(report_df[report_df.ValueID.isin(columns)].Value)
        fin_data_dic[fiID] = values
        all_data_df = all_data_df.append(report_df, ignore_index=True)
    except:
        next

counter at  0  pulling CERT#  35053
counter at  1  pulling CERT#  58308
counter at  2  pulling CERT#  28612
counter at  3  pulling CERT#  27808
counter at  4  pulling CERT#  182
counter at  5  pulling CERT#  57448
counter at  6  pulling CERT#  58197
counter at  7  pulling CERT#  57107
counter at  8  pulling CERT#  35061
counter at  9  pulling CERT#  27259
counter at  10  pulling CERT#  32165
counter at  11  pulling CERT#  33219
counter at  12  pulling CERT#  27090
counter at  13  pulling CERT#  15640
counter at  14  pulling CERT#  31623
counter at  15  pulling CERT#  27344
counter at  16  pulling CERT#  25266
counter at  17  pulling CERT#  17599
counter at  18  pulling CERT#  34231
counter at  19  pulling CERT#  31964
counter at  20  pulling CERT#  22643
counter at  21  pulling CERT#  9619
counter at  22  pulling CERT#  57669
counter at  23  pulling CERT#  57658
counter at  24  pulling CERT#  23181
counter at  25  pulling CERT#  35434
counter at  26  pulling CERT#  34486
counter at  27  pulling CERT#  10506
counter at  28  pulling CERT#  17837
counter at  29  pulling CERT#  27559
counter at  30  pulling CERT#  32536
counter at  31  pulling CERT#  28136
counter at  32  pulling CERT#  28864
counter at  33  pulling CERT#  32280
counter at  34  pulling CERT#  25172
counter at  35  pulling CERT#  35383
counter at  36  pulling CERT#  32571
counter at  37  pulling CERT#  11636
counter at  38  pulling CERT#  58072
counter at  39  pulling CERT#  32456
counter at  40  pulling CERT#  35462

In [166]:
failed_after_2010Q2 = pd.DataFrame.from_dict(fin_data_dic, orient='index')
failed_after_2010Q2.columns = columns
values = list(selected_financials.values())
failed_after_2010Q2.columns = values

In [180]:
#failed_after_2010Q2.tail()

,Total equity capital,Total assets,Total loans,1-4 family residential loans,Other real estate loans,Commercial and industrial loans,Credit cards,Allowance for loan losses,Total noninterest expense,Net Income attributable,Total transaction deposits,Total nontransaction deposits,Available-for-sale Fair Value
25172,30356,399441,37982,337540,19236,290659,21574,36444,229409,0,-10096,6407,-27145
35383,41392,619374,72748,478143,20056,497131,23435,160177,308725,0,11246,9816,-8659
11636,125181,585445,42415,471623,18787,376308,49903,49340,257247,0,10370,15256,-6187
58072,18146,190678,7527,181117,4278,161590,14470,44028,101932,0,1132,6443,-4533
35462,14263,217743,9201,203411,8616,165825,57968,46476,58088,0,4335,4924,-3509

In [169]:
#failed_after_2010Q2.to_csv('data/failed_after_2010Q2')

In [176]:
failed_banks_2010Q2 = failed_banks_df.loc[(failed_banks_df.Year_failed == 2010) & (failed_banks_df.Quarter_failed == 2)]
banks_CERT_2010Q2_list = list(failed_banks_2010Q2.CERT)
len(banks_CERT_2010Q2_list)

45

In [183]:
# Pull 45 reports, drop all values but 13 selected metrics
all_data_df = pd.DataFrame()
fin_data_dic = {}

for i in range(len(banks_CERT_2010Q2_list)):

    ds_name = 'Call'    # Pull Call report data
    end_date = '3/31/2010'  # Pull data in reporting pd ending 3/31/17
    fiID_type = 'FDICCertNumber'  # Type of financial inst identifier (ID_RSSD, CERT )
    fiID = banks_CERT_2010Q2_list[i]   # Indentifier for Wyomin Bank and Trust
    print("counter at ", i, " pulling CERT# ", fiID)
    fmt = 'SDF'  # Pull report as PDF
    # <facsimileFormat>PDF or XBRL or SDF</facsimileFormat>
    #outfile = 'test8.PDF'  # Output file path
    return_result = True  # If True, method returns the data
    try:
        f = client.retrieve_facsimile(ds_name=ds_name, reporting_pd_end=end_date,
                                      fiID_type=fiID_type, fiID=fiID,
                                      facsimile_fmt=fmt, outfile=False,
                                      return_result=True)
        report = StringIO(str(f, 'utf-8'))
        report_df = pd.read_csv(report, sep=';')
        report_df.columns = ['Call Date', 'Bank RSSD Identifier', 'ValueID', 'Value', 'Last Update',
       'Short Definition', 'Call Schedule', 'Line Number']
        values = list(report_df[report_df.ValueID.isin(columns)].Value)
        fin_data_dic[fiID] = values
        all_data_df = all_data_df.append(report_df, ignore_index=True)
    except:
        next

counter at  0  pulling CERT#  35279
counter at  1  pulling CERT#  34152
counter at  2  pulling CERT#  26563
counter at  3  pulling CERT#  57110
counter at  4  pulling CERT#  32955
counter at  5  pulling CERT#  29341
counter at  6  pulling CERT#  31813
counter at  7  pulling CERT#  15814
counter at  8  pulling CERT#  34785
counter at  9  pulling CERT#  57315
counter at  10  pulling CERT#  57814
counter at  11  pulling CERT#  35106
counter at  12  pulling CERT#  57360
counter at  13  pulling CERT#  57735
counter at  14  pulling CERT#  18117
counter at  15  pulling CERT#  34255
counter at  16  pulling CERT#  35586
counter at  17  pulling CERT#  35114
counter at  18  pulling CERT#  35517
counter at  19  pulling CERT#  57697
counter at  20  pulling CERT#  16476
counter at  21  pulling CERT#  14246
counter at  22  pulling CERT#  22710
counter at  23  pulling CERT#  17792
counter at  24  pulling CERT#  58362
counter at  25  pulling CERT#  30005
counter at  26  pulling CERT#  31027
counter at  27  pulling CERT#  32185
counter at  28  pulling CERT#  27150
counter at  29  pulling CERT#  58429
counter at  30  pulling CERT#  10888
counter at  31  pulling CERT#  30600
counter at  32  pulling CERT#  34821
counter at  33  pulling CERT#  34658
counter at  34  pulling CERT#  22853
counter at  35  pulling CERT#  3735
counter at  36  pulling CERT#  21521
counter at  37  pulling CERT#  33493
counter at  38  pulling CERT#  23876
counter at  39  pulling CERT#  26619
counter at  40  pulling CERT#  24067
counter at  41  pulling CERT#  57724
counter at  42  pulling CERT#  28886
counter at  43  pulling CERT#  34878
counter at  44  pulling CERT#  34242

In [185]:
failed_after_2010Q1 = pd.DataFrame.from_dict(fin_data_dic, orient='index')
failed_after_2010Q1.columns = columns
values = list(selected_financials.values())
failed_after_2010Q1.columns = values

In [186]:
#failed_after_2010Q1.to_csv('data/failed_after_2010Q1')

In [187]:
failed_banks_2010Q1 = failed_banks_df.loc[(failed_banks_df.Year_failed == 2010) & (failed_banks_df.Quarter_failed == 1)]
banks_CERT_2010Q1_list = list(failed_banks_2010Q1.CERT)
len(banks_CERT_2010Q1_list)

41

In [193]:
# Pull 41 reports, drop all values but 13 selected metrics
all_data_df = pd.DataFrame()
fin_data_dic = {}

for i in range(len(banks_CERT_2010Q1_list)):

    ds_name = 'Call'    # Pull Call report data
    end_date = '12/31/2009'  # Pull data in reporting pd ending 3/31/17
    fiID_type = 'FDICCertNumber'  # Type of financial inst identifier (ID_RSSD, CERT )
    fiID = banks_CERT_2010Q1_list[i]   # Indentifier for Wyomin Bank and Trust
    print("counter at ", i, " pulling CERT# ", fiID)
    fmt = 'SDF'  # Pull report as PDF
    # <facsimileFormat>PDF or XBRL or SDF</facsimileFormat>
    #outfile = 'test8.PDF'  # Output file path
    return_result = True  # If True, method returns the data
    try:
        f = client.retrieve_facsimile(ds_name=ds_name, reporting_pd_end=end_date,
                                      fiID_type=fiID_type, fiID=fiID,
                                      facsimile_fmt=fmt, outfile=False,
                                      return_result=True)
        report = StringIO(str(f, 'utf-8'))
        report_df = pd.read_csv(report, sep=';')
        report_df.columns = ['Call Date', 'Bank RSSD Identifier', 'ValueID', 'Value', 'Last Update',
       'Short Definition', 'Call Schedule', 'Line Number']
        values = list(report_df[report_df.ValueID.isin(columns)].Value)
        fin_data_dic[fiID] = values
        all_data_df = all_data_df.append(report_df, ignore_index=True)
    except:
        next

counter at  0  pulling CERT#  57060
counter at  1  pulling CERT#  34678
counter at  2  pulling CERT#  34684
counter at  3  pulling CERT#  57399
counter at  4  pulling CERT#  8221
counter at  5  pulling CERT#  24957
counter at  6  pulling CERT#  10054
counter at  7  pulling CERT#  33989
counter at  8  pulling CERT#  33535
counter at  9  pulling CERT#  58104
counter at  10  pulling CERT#  18806
counter at  11  pulling CERT#  29561
counter at  12  pulling CERT#  58182
counter at  13  pulling CERT#  27096
counter at  14  pulling CERT#  58071
counter at  15  pulling CERT#  34430
counter at  16  pulling CERT#  34976
counter at  17  pulling CERT#  9268
counter at  18  pulling CERT#  27126
counter at  19  pulling CERT#  38129
counter at  20  pulling CERT#  58352
counter at  21  pulling CERT#  32423
counter at  22  pulling CERT#  29952
counter at  23  pulling CERT#  3287
counter at  24  pulling CERT#  57586
counter at  25  pulling CERT#  15448
counter at  26  pulling CERT#  16730
counter at  27  pulling CERT#  23011
counter at  28  pulling CERT#  5702
counter at  29  pulling CERT#  16133
counter at  30  pulling CERT#  5672
counter at  31  pulling CERT#  16480
counter at  32  pulling CERT#  22469
counter at  33  pulling CERT#  20501
counter at  34  pulling CERT#  32498
counter at  35  pulling CERT#  8265
counter at  36  pulling CERT#  57147
counter at  37  pulling CERT#  1252
counter at  38  pulling CERT#  17522
counter at  39  pulling CERT#  34705
counter at  40  pulling CERT#  22977

In [194]:
failed_after_2009Q4 = pd.DataFrame.from_dict(fin_data_dic, orient='index')
failed_after_2009Q4.columns = columns
values = list(selected_financials.values())
failed_after_2009Q4.columns = values
len(failed_after_2009Q4)

37

In [196]:
failed_after_2009Q4.tail()

,Total equity capital,Total assets,Total loans,1-4 family residential loans,Other real estate loans,Commercial and industrial loans,Credit cards,Allowance for loan losses,Total noninterest expense,Net Income attributable,Total transaction deposits,Total nontransaction deposits,Available-for-sale Fair Value
57147,4119,299225,27215,258339,14821,291066,31542,32857,116481,0,24,13993,-21299
1252,80061,709171,43452,653657,65252,565832,29722,68967,441553,1394,6130,17922,-96686
17522,0,22895,5947,17965,2525,20787,5498,6204,7452,0,-1219,1879,-3201
34705,1545,70758,3230,65093,1468,56062,18450,18313,8710,0,1802,2370,-3014
22977,60806,1188956,35179,1013884,44374,963999,168200,158440,626535,2103,11838,39476,-106143

In [195]:
failed_after_2010Q1.tail()

,Total equity capital,Total assets,Total loans,1-4 family residential loans,Other real estate loans,Commercial and industrial loans,Credit cards,Allowance for loan losses,Total noninterest expense,Net Income attributable,Total transaction deposits,Total nontransaction deposits,Available-for-sale Fair Value
57147,4119,299225,27215,258339,14821,291066,31542,32857,116481,0,24,13993,-21299
1252,80061,709171,43452,653657,65252,565832,29722,68967,441553,1394,6130,17922,-96686
17522,0,22895,5947,17965,2525,20787,5498,6204,7452,0,-1219,1879,-3201
34705,1545,70758,3230,65093,1468,56062,18450,18313,8710,0,1802,2370,-3014
22977,60806,1188956,35179,1013884,44374,963999,168200,158440,626535,2103,11838,39476,-106143

In [198]:
failed_after_2009Q4.to_csv('data/failed_after_2009Q4')

In [ ]:
# TODO

In [199]:
# after 2009Q3

In [200]:
# after 2009Q2

In [201]:
# after 2009Q1

In [202]:
# after 2008Q4

In [203]:
# after 2008Q3

In [204]:
# after 2008Q2

In [ ]:
# after 2008Q1