In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from ffipy import FFIEC_Client
from io import StringIO

In [7]:
client = FFIEC_Client()
# get a list of RSSD codes for filers on 3/31/2019
filers_RSSD_12312010 = client.retrieve_filers_since_date(ds_name='Call',
                                   reporting_pd_end='12/31/2010',
                                   last_update_date='12/31/2010')
# check how many filers - 5908
len(filers_RSSD_12312010)

6999

In [17]:
failed_banks_df = pd.read_csv('data/failed_banks_dataset.csv')
failed_banks_df['Date'] = pd.to_datetime(failed_banks_df['Closing Date'])
failed_banks_df['Year_failed'] = failed_banks_df['Date'].dt.year
failed_banks_df['Quarter_failed'] = failed_banks_df['Date'].dt.quarter
failed_banks_2010Q4 = failed_banks_df.loc[(failed_banks_df.Year_failed == 2010) & (failed_banks_df.Quarter_failed == 4)]
failed_banks_2010Q4.head()
#failed_banks_2010Q4['CERT'].count()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date,Date,Year_failed,Quarter_failed
207,Community National Bank,Lino Lakes,MN,23306,Farmers & Merchants Savings Bank,17-Dec-10,10-Nov-16,2010-12-17,2010,4
208,First Southern Bank,Batesville,AR,58052,Southern Bank,17-Dec-10,29-Jan-19,2010-12-17,2010,4
209,"United Americas Bank, N.A.",Atlanta,GA,35065,State Bank and Trust Company,17-Dec-10,17-Oct-15,2010-12-17,2010,4
210,"Appalachian Community Bank, FSB",McCaysville,GA,58495,Peoples Bank of East Tennessee,17-Dec-10,29-Jan-19,2010-12-17,2010,4
211,Chestatee State Bank,Dawsonville,GA,34578,Bank of the Ozarks,17-Dec-10,21-Sep-15,2010-12-17,2010,4

In [21]:
# Testing Call report for 1 filer
ds_name = 'Call'    # Pull Call report data
end_date = '9/30/2010'  # Pull data in reporting pd ending 3/31/17
fiID_type = 'FDICCertNumber'  # Type of financial inst identifier (ID_RSSD or FDICCertNumber)
fiID = 23306    # Indentifier for Wyomin Bank and Trust
fmt = 'SDF'  # Pull report as PDF
# <facsimileFormat>PDF or XBRL or SDF</facsimileFormat>
outfile = None  # Output file path
return_result = True  # If True, method returns the data
results_bytes2 = client.retrieve_facsimile(ds_name=ds_name, reporting_pd_end=end_date,
                              fiID_type=fiID_type, fiID=fiID,
                              facsimile_fmt=fmt, outfile=None,
                              return_result=True)
report = StringIO(str(results_bytes2, 'utf-8'))
report_df = pd.read_csv(report, sep=';')

In [22]:
report_df.head(10)

,Call Date,Bank RSSD Identifier,MDRM #,Value,Last Update,Short Definition,Call Schedule,Line Number
0,20100930,367851,RCON0010,6646,20101019,Cash and balances dues from depository institu...,RCR,34
1,20100930,367851,RCON0020,NaN,20101019,Cash items in process of collection and unpost...,RCA,1a
2,20100930,367851,RCON0071,6074,20101019,Interest-bearing balances,RC,1b
3,20100930,367851,RCON0073,NaN,20101019,Foreign branches of other U.S. banks,RCA,3a
4,20100930,367851,RCON0074,NaN,20101019,Other banks in foreign countries and foreign c...,RCA,3b
5,20100930,367851,RCON0080,NaN,20101019,Currency and coin,RCA,1b
6,20100930,367851,RCON0081,572,20101019,Noninterest-bearing balances and currency and ...,RC,1a
7,20100930,367851,RCON0083,NaN,20101019,U.S. branches and agencies of foreign banks,RCA,2a
8,20100930,367851,RCON0085,NaN,20101019,Other commercial banks in the U.S. and other d...,RCA,2b
9,20100930,367851,RCON0090,NaN,20101019,Balances due from Federal Reserve Banks,RCA,4